<div class="star-rating">
    <ng-container *ngFor="let star of star_on">
        <i class="fa fa-star" aria-hidden="true"></i>
    </ng-container>
    <ng-container *ngFor="let star of star_off">
        <i class="fa fa-star-o" aria-hidden="true"></i>
    </ng-container>
    <ng-content select="i"></ng-content>
</div>