<div class="header pb-8 pt-5 pt-lg-6 align-items-center"
  style="min-height: 600px;background: url('./assets/img/bg/home.v3.png'); background-repeat: no-repeat; background-position: 67% 35px; background-size: 440px;">
  <div class="container-fluid-wrapper">
    <div class="row mx-0">
      <div class="col-lg-9 col-md-9 pt-lg-6">
        <div class="row">
          <div class="col-9 offset-1">
            <h1 class="display-3 text-dark">Chào mừng bạn đến với Doke.vn,</h1>
            <p class="text-primary h2 mt-0 mb-5">Dưới đây là tổng quan về tài khoản của bạn</p>

            <div class="card shadow mb-3">
              <div class="card-header border-0">
                <div class="row align-items-center">
                  <div class="col">
                    <h4 class="mb-0">Cài đặt code đánh giá</h4>
                    <p>
                      Hiển thị chức năng đánh giá trên trang web của bạn,
                      và hãy để khách hàng thay bạn tạo niềm tin cho sản phẩm
                    </p>
                  </div>
                  <div class="col-auto text-right">
                    <a href="#!" class="btn btn-sm btn-primary">Xem thêm</a>
                  </div>
                </div>
              </div>
            </div>

            <div class="card shadow mb-3">
              <div class="card-header border-0">
                <div class="row align-items-center">
                  <div class="col">
                    <h4 class="mb-0">Cài đặt code câu hỏi</h4>
                    <p>
                      Hiển thị chức năng đặt câu hỏi ngay trên trang web của bạn,
                      giúp khách hàng giải đáp thắc mắc và hiểu rõ hơn
                      sản phẩm, dịch vụ của bạn
                    </p>
                  </div>
                  <div class="col-auto text-right">
                    <a href="#!" class="btn btn-sm btn-primary">Xem thêm</a>
                  </div>
                </div>
              </div>
            </div>

            <div class="card shadow mb-3">
              <div class="card-header border-0">
                <div class="row align-items-center">
                  <div class="col">
                    <h4 class="mb-0">Tạo quảng cáo</h4>
                    <p>Biến các đánh giá tốt nhất của bạn thành Quảng cáo Facebook chuyển đổi cao, kết hợp hoàn hảo với
                      người mua hàng từ newsfeed.</p>
                  </div>
                  <div class="col-auto text-right">
                    <a href="#!" class="btn btn-sm btn-primary">Tạo quảng cáo</a>
                  </div>
                </div>
              </div>
            </div>

            <div class="card shadow">
              <div class="card-header border-0">
                <div class="row align-items-center">
                  <div class="col">
                    <p class="mb-0">Trong 14 ngày qua</p>
                    <h3 class="mb-0"><b>Những sản phẩm này được đánh giá thường xuyên nhất</b></h3>
                  </div>
                  <div class="col-auto text-right">
                    <a href="#!" class="btn btn-sm btn-primary">Chi tiết</a>
                  </div>
                </div>
              </div>
              <div class="table-responsive">
                <!-- Projects table -->
                <table class="table align-items-center table-flush">
                  <thead class="thead-light">
                    <tr>
                      <th scope="col">Sản phẩm</th>
                      <th scope="col">May 23–Jun 5</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">
                        <a href="#">Best Smile Veneers</a>
                      </th>
                      <td>
                        29 đánh giá
                      </td>
                    </tr>
                    <tr>
                      <th scope="row">
                        <a href="#">Hair-Off™ IPL Hair Removal System</a>
                      </th>
                      <td>
                        17 đánh giá
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="col-lg-3 col-md-3 pr-lg-0 pr-md-0">
        <div class="card card-stats mb-4 mb-lg-0" style="border-radius:0;margin-top: -10px">
          <div class="card-body">
            <div class="row">
              <div class="col text-right">
                <div ngbDropdown>
                  <button class="btn btn-outline-primary dropdown-toggle" ngbDropdownToggle>Ngày trước <i class="fa fa-caret-down" aria-hidden="true"></i></button>
                  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownBasic1" ngbDropdownMenu>
                    <button class="dropdown-item">Hôm qua</button>
                    <button class="dropdown-item">7 Ngày trước</button>
                    <button class="dropdown-item">30 Ngày trước</button>
                    <button class="dropdown-item">Tất cả</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col">
                <h5 class="card-title text-muted mb-0">Tổng đánh giá</h5>
                <span class="h2 font-weight-bold mb-0">30</span>
                <span class="text-success ml-3"><i class="fa fa-arrow-up"></i> 3.48%</span>
              </div>
              <div class="col-auto">
                <div class="icon icon-shape rounded-circle btn">
                  <i class="fa fa-chevron-right"></i>
                </div>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col">
                <h5 class="card-title text-muted mb-0">Tổng câu hỏi</h5>
                <span class="h2 font-weight-bold mb-0">10</span>
                <span class="text-success ml-3"><i class="fa fa-arrow-up"></i> 3.48%</span>
              </div>
              <div class="col-auto">
                <div class="icon icon-shape rounded-circle btn">
                  <i class="fa fa-chevron-right"></i>
                </div>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col">
                <h5 class="card-title text-muted mb-0">Đánh giá trung bình</h5>
                <span class="h2 font-weight-bold mb-0">4.5</span>
              </div>
              <div class="col-auto">
                <div class="icon icon-shape rounded-circle btn">
                  <i class="fa fa-chevron-right"></i>
                </div>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col">
                <h5 class="card-title text-muted mb-0">Email đã gửi</h5>
                <span class="h2 font-weight-bold mb-0">100</span>
                <span class="text-danger ml-3"><i class="fa fa-arrow-down"></i> 1.54%</span>
              </div>
              <div class="col-auto">
                <div class="icon icon-shape rounded-circle btn">
                  <i class="fa fa-chevron-right"></i>
                </div>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col">
                <h5 class="card-title text-muted mb-0">Chuyển đổi từ email</h5>
                <span class="h2 font-weight-bold mb-0">12</span>
              </div>
              <div class="col-auto">
                <div class="icon icon-shape rounded-circle btn">
                  <i class="fa fa-chevron-right"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>