<div class="header bg-gradient-white pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row mb-2 text-right">
        <div class="col-auto">
          <lib-daterangepicker [ranges]="customRanges" [(start)]="start" [(end)]="end" outputFormat="DD-MM-YYYY"
            format="DD-MM-YYYY" opens="right" [pill]="true" (complete)="isFilterByDate($event)"></lib-daterangepicker>
        </div>
      </div>
      <!-- Card stats -->
      <div class="row">
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Đánh giá</h5>
                  <span class="h2 font-weight-bold mb-0">89</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                <span class="text-nowrap">Kể từ tháng trước</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Câu hỏi</h5>
                  <span class="h2 font-weight-bold mb-0">44</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                    <i class="fa fa-comments"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-danger mr-2"><i class="fa fa-arrow-down"></i> 1.48%</span>
                <span class="text-nowrap">Kể từ tháng trước</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Đánh giá trung bình</h5>
                  <span class="h2 font-weight-bold mb-0">4.6</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                    <i class="fa fa-star-half-o"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-warning mr-2"><i class="fa fa-arrow-down"></i> 1.10%</span>
                <span class="text-nowrap">Kể từ tháng trước</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Đánh giá Shop</h5>
                  <span class="h2 font-weight-bold mb-0">23</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                    <i class="fa fa-usd"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 12%</span>
                <span class="text-nowrap">Kể từ tháng trước</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-3">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">Xếp hạng</h3>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <!-- Projects table -->
          <table class="table align-items-center table-flush">
            <tbody>
              <tr>
                <th scope="row">
                  <app-star-rating [star]="5"></app-star-rating>
                  345 đánh giá
                </th>
                <td>
                  <div class="d-flex align-items-center">
                    <span class="mr-2">60%</span>
                    <div>
                      <div class="progress">
                        <div class="progress-bar bg-gradient-success" role="progressbar" aria-valuenow="60"
                          aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <th scope="row">
                  <app-star-rating [star]="4"></app-star-rating>
                  222 đánh giá
                </th>
                <td>
                  <div class="d-flex align-items-center">
                    <span class="mr-2">40%</span>
                    <div>
                      <div class="progress">
                        <div class="progress-bar bg-gradient-success" role="progressbar" aria-valuenow="40"
                          aria-valuemin="0" aria-valuemax="100" style="width: 40%;"></div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <th scope="row">
                  <app-star-rating [star]="3"></app-star-rating>
                  78 đánh giá
                </th>
                <td>
                  <div class="d-flex align-items-center">
                    <span class="mr-2">30%</span>
                    <div>
                      <div class="progress">
                        <div class="progress-bar bg-gradient-success" role="progressbar" aria-valuenow="30"
                          aria-valuemin="0" aria-valuemax="100" style="width: 30%;"></div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <th scope="row">
                  <app-star-rating [star]="2"></app-star-rating>
                  13 đánh giá
                </th>
                <td>
                  <div class="d-flex align-items-center">
                    <span class="mr-2">10%</span>
                    <div>
                      <div class="progress">
                        <div class="progress-bar bg-gradient-success" role="progressbar" aria-valuenow="10"
                          aria-valuemin="0" aria-valuemax="100" style="width: 10%;"></div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <th scope="row">
                  <app-star-rating [star]="1"></app-star-rating>
                  9 đánh giá
                </th>
                <td>
                  <div class="d-flex align-items-center">
                    <span class="mr-2">5%</span>
                    <div>
                      <div class="progress">
                        <div class="progress-bar bg-gradient-success" role="progressbar" aria-valuenow="5"
                          aria-valuemin="0" aria-valuemax="100" style="width: 5%;"></div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-xl-9 mb-5 mb-xl-0">
      <div class="card bg-gradient-white shadow">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col-auto">
              <h6 class="text-uppercase text-light ls-1 mb-1">Thống kê</h6>
              <h2 class="text-dark mb-0">Đánh giá</h2>
            </div>
            <div class="col">
              <ul class="nav nav-pills justify-content-end">
                <li class="nav-item mr-2 mr-md-0" data-toggle="chart" data-target="#chart-sales"
                  (click)="data=datasets[0];updateOptions()">
                  <a href="javascript:void(0)" class="nav-link py-2 px-3" [ngClass]="{'active':clicked===true}"
                    data-toggle="tab" (click)="clicked=true;clicked1=false">
                    <span class="d-none d-md-block">Đánh giá</span>
                    <span class="d-md-none">M</span>
                  </a>
                </li>
                <li class="nav-item" data-toggle="chart" data-target="#chart-sales"
                  (click)="data=datasets[1];updateOptions()">
                  <a href="javascript:void(0)" class="nav-link py-2 px-3" [ngClass]="{'active':clicked1===true}"
                    data-toggle="tab" (click)="clicked=false;clicked1=true">
                    <span class="d-none d-md-block">Câu hỏi</span>
                    <span class="d-md-none">W</span>
                  </a>
                </li>
                <li class="nav-item" data-toggle="chart" data-target="#chart-sales"
                  (click)="data=datasets[1];updateOptions()">
                  <a href="javascript:void(0)" class="nav-link py-2 px-3" [ngClass]="{'active':clicked1===true}"
                    data-toggle="tab" (click)="clicked=false;clicked1=true">
                    <span class="d-none d-md-block">Đánh giá shop</span>
                    <span class="d-md-none">W</span>
                  </a>
                </li>
              </ul>
            </div>
            <div class="col col-auto">
              <div ngbDropdown class="d-inline-block">
                <button class="btn btn-outline-primary" id="dropdownForm1" ngbDropdownToggle>
                  <div class="star-rating d-inline"><i aria-hidden="true" class="fa fa-star"></i></div>
                  Đánh giá sao <i class="fa fa-caret-down" aria-hidden="true"></i>
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownForm1">
                  <form class="px-4 py-3">
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input" id="star-5">
                      <label class="form-check-label" for="star-5">
                        <app-star-rating [star]="5"></app-star-rating>
                      </label>
                    </div>
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input" id="star-4">
                      <label class="form-check-label" for="star-4">
                        <app-star-rating [star]="4"></app-star-rating>
                      </label>
                    </div>
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input" id="star-3">
                      <label class="form-check-label" for="star-3">
                        <app-star-rating [star]="3"></app-star-rating>
                      </label>
                    </div>
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input" id="star-2">
                      <label class="form-check-label" for="star-2">
                        <app-star-rating [star]="2"></app-star-rating>
                      </label>
                    </div>
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input" id="star-1">
                      <label class="form-check-label" for="star-1">
                        <app-star-rating [star]="1"></app-star-rating>
                      </label>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <!-- Chart -->
          <div class="chart">
            <!-- Chart wrapper -->
            <canvas id="chart-sales" class="chart-canvas"></canvas>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="row mt-5">
    <div class="col-xl-8 mb-5 mb-xl-0">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">Top đánh giá</h3>
            </div>
            <div class="col text-right">
              <a href="#!" class="btn btn-sm btn-primary">Chi tiết</a>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <!-- Projects table -->
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Sản phẩm</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">
                  <a href="#">Best Smile Veneers</a>
                </th>
                <td>
                  29 đánh giá
                </td>
              </tr>
              <tr>
                <th scope="row">
                  <a href="#">Best Smile Veneers</a>
                </th>
                <td>
                  29 đánh giá
                </td>
              </tr>
              <tr>
                <th scope="row">
                  <a href="#">Best Smile Veneers</a>
                </th>
                <td>
                  29 đánh giá
                </td>
              </tr>
              <tr>
                <th scope="row">
                  <a href="#">Best Smile Veneers</a>
                </th>
                <td>
                  29 đánh giá
                </td>
              </tr>
              <tr>
                <th scope="row">
                  <a href="#">Best Smile Veneers</a>
                </th>
                <td>
                  29 đánh giá
                </td>
              </tr>
              <tr>
                <th scope="row">
                  <a href="#">Best Smile Veneers</a>
                </th>
                <td>
                  29 đánh giá
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-xl-4">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">Top câu hỏi</h3>
            </div>
            <div class="col text-right">
              <a href="#!" class="btn btn-sm btn-primary">Chi tiết</a>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <!-- Projects table -->
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Sản phẩm</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">
                  <a href="#">Best Smile Veneers</a>
                </th>
                <td>
                  29 câu hỏi
                </td>
              </tr>
              <tr>
                <th scope="row">
                  <a href="#">Best Smile Veneers</a>
                </th>
                <td>
                  29 câu hỏi
                </td>
              </tr>
              <tr>
                <th scope="row">
                  <a href="#">Best Smile Veneers</a>
                </th>
                <td>
                  29 câu hỏi
                </td>
              </tr>
              <tr>
                <th scope="row">
                  <a href="#">Best Smile Veneers</a>
                </th>
                <td>
                  29 câu hỏi
                </td>
              </tr>
              <tr>
                <th scope="row">
                  <a href="#">Best Smile Veneers</a>
                </th>
                <td>
                  29 câu hỏi
                </td>
              </tr>
              <tr>
                <th scope="row">
                  <a href="#">Best Smile Veneers</a>
                </th>
                <td>
                  29 câu hỏi
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-xl-4">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <h6 class="text-uppercase text-muted ls-1 mb-1">Tỉnh thành</h6>
              <!-- <h2 class="mb-0">Total orders</h2> -->
            </div>
          </div>
        </div>
        <div class="card-body">
          <!-- Projects table -->
          <table class="table align-items-center table-flush">
            <tbody>
              <tr>
                <th scope="row">
                  TP.HCM
                </th>
                <td>
                  70%
                </td>
              </tr>
              <tr>
                <th scope="row">
                  Hà Nội
                </th>
                <td>
                  20%
                </td>
              </tr>
              <tr>
                <th scope="row">
                  Đà Nẵng
                </th>
                <td>
                  8%
                </td>
              </tr>
              <tr>
                <th scope="row">
                  Bình Thuận
                </th>
                <td>
                  2%
                </td>
              </tr>
              <tr>
                <th scope="row">
                  Huế
                </th>
                <td>
                  1%
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-xl-4">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <h6 class="text-uppercase text-muted ls-1 mb-1">Thiết bị</h6>
              <!-- <h2 class="mb-0">Đánh giá</h2> -->
            </div>
          </div>
        </div>
        <div class="card-body">
          <!-- Chart -->
          <div class="chart">
            <canvas id="chart-devices" class="chart-canvas"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <h6 class="text-uppercase text-muted ls-1 mb-1">Tình trạng đánh giá</h6>
              <!-- <h2 class="mb-0">Đánh giá</h2> -->
            </div>
          </div>
        </div>
        <div class="card-body">
          <!-- Chart -->
          <div class="chart">
            <canvas id="chart-status" class="chart-canvas"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>