.auto-public-reviews .dropdown-menu {
    min-width: 7rem;
}
.auto-public-reviews .star-rating i{
    margin-right: 0;
    margin-left: 1px
} 
.filter__block-words{
    background: #fff;
    padding: 5px;
}
.filter__block-words input, .filter__block-words input:focus{
    box-shadow: none;
    border: 0
}