<div class="header bg-gradient-white pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-9 order-xl-1">
        <div class="card bg-secondary shadow">
          <div class="card-header bg-white border-0">
            <div class="row align-items-center">
              <div class="col-8">
                <h3 class="mb-0">Cài đặt đánh giá</h3>
              </div>
              <div class="col-4 text-right">
                <!-- <a href="#!" class="btn btn-sm btn-primary">Settings</a> -->
              </div>
            </div>
          </div>
          <div class="card-body">
            <form>
              <div class="row">
                <div class="col-auto">
                  <label class="custom-toggle">
                    <input type="checkbox" checked="">
                    <span class="custom-toggle-slider rounded-circle"></span>
                  </label>
                </div>
                <div class="col">
                  <h5>Tự động hiển thị đánh giá</h5>
                  <span>
                    Tự động hiển thị đánh giá trên trang web với xếp hạng sao tối thiểu là:
                    <div ngbDropdown class="d-inline-block auto-public-reviews">
                      <button class="btn btn-outline-primary btn-sm" id="dropdownForm1" ngbDropdownToggle>
                        <div class="star-rating d-inline">
                          <app-star-rating [star]="1"><i class="fa fa-caret-down" aria-hidden="true"></i>
                          </app-star-rating>
                        </div>
                      </button>
                      <div ngbDropdownMenu aria-labelledby="dropdownForm1">
                        <button class="dropdown-item">
                          <app-star-rating [star]="5"></app-star-rating>
                        </button>
                        <button class="dropdown-item">
                          <app-star-rating [star]="4"></app-star-rating>
                        </button>
                        <button class="dropdown-item">
                          <app-star-rating [star]="3"></app-star-rating>
                        </button>
                        <button class="dropdown-item">
                          <app-star-rating [star]="2"></app-star-rating>
                        </button>
                        <button class="dropdown-item">
                          <app-star-rating [star]="1"></app-star-rating>
                        </button>
                      </div>
                    </div>
                  </span>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <h6 class="heading-small text-muted mb-0 mt-3">Chặn đánh giá theo từ khóa:</h6>
                  <p class="h5">Để ngăn các bài đánh giá có chứa ngôn ngữ thô tục được tự động hiển thị,
                    Hãy tạo một danh sách mặc định các từ khóa.
                    Bạn có thể thêm vào danh sách này bằng cách viết từ khóa vào trường văn bản bên dưới.
                  </p>
                  <div class="form-group">
                    <label class="form-control-label h6" for="input-email">Thêm các từ khóa vào bên dưới:</label>
                    <div class="filter__block-words">
                      <span class="list__block-words">
                        <span class="badge badge-primary text-dark">lừa đảo <i class="fa fa-times"
                            aria-hidden="true"></i></span>
                      </span>
                      <input type="text" class="form-control form-control-alternative px-0" value="">
                    </div>
                    <button type="button" class="btn btn-sm btn-outline-danger mt-2">Thêm từ khóa</button>
                  </div>
                </div>
              </div>
              <hr>
              <h6 class="heading-small text-muted mb-4">Trả lời đánh giá:</h6>
              <div class="pl-lg-4">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-email">Tên (mặc định: Admin)</label>
                      <input type="text" class="form-control form-control-alternative"
                        placeholder="Ví dụ: Quản Trị Viên" value="">
                    </div>
                  </div>
                  <div class="col-lg-auto">
                    <div class="form-group">
                      <label class="form-control-label" for="input-email">Ảnh đại diện (tùy chọn)</label>
                      <input type="file" class="form-control form-control-alternative">
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="custom-control custom-checkbox mb-3">
                      <input class="custom-control-input" id="show__reply-comment" type="checkbox" checked>
                      <label class="custom-control-label" for="show__reply-comment">Hiển thị trả lời</label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <button type="button" class="btn btn-primary btn-lg">Lưu thay đổi</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>