<div class="header bg-gradient-white pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-6 order-xl-2 mb-5 mb-xl-0 pl-0">
        <div class="card card-profile shadow">
          <div class="card bg-secondary shadow">
            <div class="card-header bg-white border-0">
              <div class="row align-items-center">
                <div class="col text-center">
                  <button (click)="onToggleView(500,902)" class="btn btn-sm btn-icon btn-2 btn-secondary" type="button">
                    <span class="btn-inner--icon"><i class="fa fa-2x fa-desktop"></i></span>
                  </button>
                  <button (click)="onToggleView(320,729)" class="btn btn-sm btn-icon btn-2 btn-secondary" type="button">
                    <span class="btn-inner--icon"><i class="fa fa-2x fa-tablet"></i></span>
                  </button>
                </div>
              </div>
              <div class="row mt-2">
                <div class="col">
                  <div class="preview-iframe-widget">
                    <div class="p-4 text-center">
                      <!-- <div id="iframe-widget" [innerHTML]="previewHTML | keepHtml"></div> -->
                      <iframe #iframe frameborder="1" [width]="viewMode[0]" [height]="viewMode[1]"></iframe>
                      <!-- <button (click)="sendData()">Click Here</button> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-6 order-xl-1">
        <div class="card bg-secondary shadow">
          <div class="card-header bg-white border-0">
            <div class="row align-items-center">
              <div class="col-8">
                <h3 class="mb-0">Email gửi đánh giá</h3>
              </div>
              <div class="col-4 text-right">
                <!-- <a href="#!" class="btn btn-sm btn-primary">Settings</a> -->
              </div>
            </div>
          </div>
          <div class="card-body">
            <form>
              <div class="row">
                <div class="col-auto">
                  <label class="custom-toggle">
                    <input type="checkbox" checked="">
                    <span class="custom-toggle-slider rounded-circle"></span>
                  </label>
                </div>
                <div class="col">
                  <h5>Tự động gửi email đã bật</h5>
                  <span>
                    Cho phép tự động yêu cầu đánh giá sau mua hàng qua email. Nếu bạn có lời nhắc trực tiếp, chúng vẫn
                    sẽ
                    được gửi.
                  </span>
                </div>
              </div>
              <hr>
              <h6 class="heading-small text-muted mb-4">Tùy chỉnh email:</h6>
              <div class="pl-lg-4">
                <div class="row">
                  <div class="col-lg-3">
                    <div class="form-group">
                      <label class="form-control-label" for="input-username">Gửi email sau</label>
                      <input type="number" class="form-control form-control-alternative" placeholder="" value="14">
                    </div>
                  </div>
                  <div class="col-lg-9">
                    <div class="form-group">
                      <label class="form-control-label" for="input-email">Tiêu đề</label>
                      <input type="text" class="form-control form-control-alternative" placeholder=""
                        value="Vui lòng đánh giá sản phẩm của chúng tôi">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12">
                    <div class="form-group">
                      <label class="form-control-label" for="input-first-name">Nội dung</label>
                      <textarea class="form-control" rows="3" (change)="onChange()" [(ngModel)]="emailBody" [ngModelOptions]="{standalone: true}">
                        {{emailBody}}</textarea>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="form-group">
                      <label class="form-control-label" for="input-last-name">Kêu gọi đánh giá (mobile)</label>
                      <input type="text" class="form-control form-control-alternative" (change)="onChange()" [(ngModel)]="callToAction"
                        [value]="callToAction" [ngModelOptions]="{standalone: true}">
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="form-group">
                      <label class="form-control-label" for="input-first-name">Chữ ký</label>
                      <textarea class="form-control" rows="3" (change)="onChange()" [(ngModel)]="signal" [ngModelOptions]="{standalone: true}">
                        {{signal}}</textarea>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <button type="button" class="btn btn-primary btn-lg">Lưu thay đổi</button>
                    <button type="button" class="btn btn-secondary btn-lg" placement="top" [ngbPopover]="popContent"
                      [autoClose]="'outside'">Gửi thử nghiệm</button>
                  </div>
                  <ng-template #popContent>
                    <form>
                      <div class="form-group">
                        <label class="text-muted">Gửi đến:</label>
                        <div class="input-group input-section" style="border: 1px solid #ddd">
                          <input class="form-control form-control-alternative" type="email" name="email"
                            placeholder="user@gmail.vn" value="hi@doke.vn">
                          <button class="btn btn-secondary btn-sm input-group-btn plane-icon-wrapper">
                            <i class="fa fa-paper-plane"></i>
                          </button>
                        </div>
                      </div>
                    </form>
                  </ng-template>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>