.preview-iframe-widget{
    background-image: url('../../../assets/img/bg/transparent.png');
    background-repeat: repeat;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    box-shadow: inset 1px 1px 6px #e3e3e3;
    overflow: hidden;
    pointer-events: none
}
.preview-iframe-widget iframe{
    background: #fff;
    border-radius: 4px;
}