<div class="reviews__wrapper pt-5 pt-lg-7">
  <div class="container-fluid">
    <div class="row">
      <!-- SIDEBAR FILTER -->
      <div class="col-lg-4 col-md-4">
        <!-- FILTER -->
        <div class="card">
          <div class="card-body">
            <!-- SEARCH -->
            <form action="">
              <div class="form-group mb-2">
                <div class="input-group input-group-sm">
                  <input class="form-control" placeholder="Tìm kiếm..." type="text">
                  <div class="input-group-append">
                    <span class="input-group-text"><i class="fa fa-search"></i></span>
                  </div>
                </div>
              </div>
            </form>
            <ngb-accordion #a="ngbAccordion" activeIds="custom-panel-1">
              <ngb-panel id="custom-panel-1">
                <ng-template ngbPanelHeader let-opened="opened">
                  <div class="d-flex align-items-center justify-content-between">
                    <h5 class="m-0">Lọc</h5>
                    <button ngbPanelToggle class="btn btn-link p-0"><i class="fa fa-arrow-{{opened ? 'up':'down'}}"
                        aria-hidden="true"></i></button>
                  </div>
                </ng-template>
                <ng-template ngbPanelContent>
                  <!-- FILTER BY DATETIME -->
                  <div class="filter__by-status mb-4">
                    <h5>Ngày</h5>
                    <div>
                      <!-- <input type="text" ngxDaterangepickerMd startKey="start" endKey="end" [ranges]="ranges"> -->
                      <lib-daterangepicker [ranges]="customRanges" [(start)]="start" [(end)]="end"
                        outputFormat="DD-MM-YYYY" format="DD-MM-YYYY" opens="right" [pill]="true"
                        (complete)="isFilterByDate($event)"></lib-daterangepicker>
                    </div>
                  </div>
                  <!-- FILTER BY STATUS -->
                  <div class="filter__by-status mb-4">
                    <h5>Trạng thái</h5>
                    <div>
                      <div class="btn-group btn-group-toggle w-100">
                        <label class="btn btn-secondary btn-sm" ngbButtonLabel>
                          <input type="checkbox" ngbButton>Hiển thị
                        </label>
                        <label class="btn btn-secondary btn-sm" ngbButtonLabel>
                          <input type="checkbox" ngbButton>Đang chờ
                        </label>
                        <label class="btn btn-secondary btn-sm" ngbButtonLabel>
                          <input type="checkbox" ngbButton> Đã duyệt
                        </label>
                        <label class="btn btn-secondary btn-sm" ngbButtonLabel>
                          <input type="checkbox" ngbButton> Chưa duyệt
                        </label>
                      </div>
                    </div>
                  </div>
                  <!-- FILTER BY FEATURE -->
                  <div class="filter__by-status mb-4">
                    <h5>Tính năng</h5>
                    <div>
                      <div class="btn-group btn-group-toggle w-100">
                        <label class="btn btn-secondary btn-sm" ngbButtonLabel>
                          <input type="checkbox" ngbButton>Hình ảnh
                        </label>
                        <label class="btn btn-secondary btn-sm" ngbButtonLabel>
                          <input type="checkbox" ngbButton>Video
                        </label>
                        <label class="btn btn-secondary btn-sm" ngbButtonLabel>
                          <input type="checkbox" ngbButton>Trả lời
                        </label>
                        <label class="btn btn-secondary btn-sm" ngbButtonLabel>
                          <input type="checkbox" ngbButton>Chưa trả lời
                        </label>
                      </div>
                    </div>
                  </div>
                  <!-- FILTER BY STAR RATING -->
                  <div class="filter__by-status mb-4">
                    <h5>Đánh giá sao</h5>
                    <div>
                      <div class="custom-control custom-control-alternative custom-checkbox mb-3">
                        <input class="custom-control-input" id="filter__star-5" type="checkbox">
                        <label class="custom-control-label" for="filter__star-5">
                          <app-star-rating [star]="5"></app-star-rating>
                        </label>
                        <span class="badge badge-pill badge-info pull-right">60</span>
                      </div>
                      <div class="custom-control custom-control-alternative custom-checkbox mb-3">
                        <input class="custom-control-input" id="filter__star-4" type="checkbox">
                        <label class="custom-control-label" for="filter__star-4">
                          <app-star-rating [star]="4"></app-star-rating>
                        </label>
                        <span class="badge badge-pill badge-info pull-right">30</span>
                      </div>
                      <div class="custom-control custom-control-alternative custom-checkbox mb-3">
                        <input class="custom-control-input" id="filter__star-3" type="checkbox">
                        <label class="custom-control-label" for="filter__star-3">
                          <app-star-rating [star]="3"></app-star-rating>
                        </label>
                        <span class="badge badge-pill badge-info pull-right">20</span>
                      </div>
                      <div class="custom-control custom-control-alternative custom-checkbox mb-3">
                        <input class="custom-control-input" id="filter__star-2" type="checkbox">
                        <label class="custom-control-label" for="filter__star-2">
                          <app-star-rating [star]="2"></app-star-rating>
                        </label>
                        <span class="badge badge-pill badge-info pull-right">0</span>
                      </div>
                      <div class="custom-control custom-control-alternative custom-checkbox mb-3">
                        <input class="custom-control-input" id="filter__star-1" type="checkbox">
                        <label class="custom-control-label" for="filter__star-1">
                          <app-star-rating [star]="1"></app-star-rating>
                        </label>
                        <span class="badge badge-pill badge-info pull-right">1</span>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </ngb-panel>
            </ngb-accordion>
          </div>
        </div>
      </div>
      <div class="col-lg-8 col-md-8 pl-lg-0 pl-md-0">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Đánh giá (100)</h4>

            <div class="row">
              <div class="col-lg-5 col-md-6 pb-2">
                <div class="custom-control custom-control-alternative custom-checkbox mb-3 d-inline">
                  <input class="custom-control-input" [(ngModel)]="masterSelected" [checked]="checkedList.length > 0"
                    (change)="checkUncheckAll()" id="reviews__select-all" type="checkbox">
                  <label class="custom-control-label mt-1" for="reviews__select-all">Đã chọn
                    ({{checkedList.length}})</label>
                </div>
                <div ngbDropdown class="d-inline-block ml-2" *ngIf="checkedList.length > 0">
                  <button class="btn btn-sm btn-outline-primary" ngbDropdownToggle>Hiển thị <i class="fa fa-caret-down"
                      aria-hidden="true"></i></button>
                  <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button ngbDropdownItem>Hiển thị</button>
                    <button ngbDropdownItem>Ẩn</button>
                    <button ngbDropdownItem>Xóa</button>
                  </div>
                </div>
                <button type="button" class="btn btn-secondary btn-sm ml-2"><i class="fa fa-refresh"
                    aria-hidden="true"></i>Làm mới</button>
              </div>
              <div class="col-lg-7 col-md-6">
                <div class="pull-lg-right text-right">
                  <span class="hidden-xs pull-xs-left pull-sm-left pull-md-right mr-2">
                    Hiển thị:
                    <div ngbDropdown class="d-inline-block ml-2">
                      <button class="btn btn-sm btn-outline-primary" ngbDropdownToggle>10 <i class="fa fa-caret-down"
                          aria-hidden="true"></i></button>
                      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <button ngbDropdownItem>10</button>
                        <button ngbDropdownItem>20</button>
                        <button ngbDropdownItem>50</button>
                        <button ngbDropdownItem>100</button>
                      </div>
                    </div>
                  </span>

                  <span class="hidden-xs pull-xs-left pull-sm-left pull-md-right">
                    Sắp xếp:
                    <div ngbDropdown class="d-inline-block ml-2">
                      <button class="btn btn-sm btn-outline-primary" ngbDropdownToggle>Mới nhất <i
                          class="fa fa-caret-down" aria-hidden="true"></i></button>
                      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <button ngbDropdownItem>Mới nhất</button>
                        <button ngbDropdownItem>Cũ nhất</button>
                        <button ngbDropdownItem>Đánh giá từ cao đến thấp</button>
                        <button ngbDropdownItem>Đánh giá từ thấp đến cao</button>
                      </div>
                    </div>
                  </span>
                </div>
              </div>
            </div>
            <hr class="my-2">
            <!-- Table -->
            <div class="row">
              <div class="col">
                <div class="reviews__list">
                  <div class="table-responsive">
                    <table class="table align-items-start table-flush">
                      <tbody>
                        <tr *ngFor="let item of checklist;let i = index">
                          <th scope="row" width="25">
                            <div class="custom-control custom-checkbox mb-3">
                              <input class="custom-control-input" [(ngModel)]="item.isSelected"
                                (change)="isAllSelected()" value="{{item.id}}" id="review__item-{{item.id}}"
                                type="checkbox">
                              <label class="custom-control-label" for="review__item-{{item.id}}"></label>
                            </div>
                          </th>
                          <td>
                            <div class="row mt-2">
                              <div class="col-xs-8 col-sm-7 col-xl-7">
                                <div class="reviews__header">
                                  <h3>Hài lòng</h3>
                                  <div>
                                    Dịch vụ tốt, giao hàng nhanh, sản phẩm chất lượng
                                  </div>
                                  <p class="mt-2">
                                    <span class="badge badge-pill badge-primary text-capitalize text-dark">
                                      Sản phẩm: <a href="#" class="text-primary">Best Smile Veneers</a>
                                    </span>
                                  </p>
                                </div>
                              </div>
                              <div class="col-xl-2">
                                <app-star-rating [star]="5"></app-star-rating>
                                <span>Ngày tạo: 06/04/19</span>
                              </div>
                              <div class="col text-right">
                                <p class="small font-weight-bold mb-0">Tags:</p>
                                <ul>
                                  <li><span class="badge badge-info">product review</span></li>
                                  <li><span class="badge badge-info">profanity</span></li>
                                </ul>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col">
                                <button type="button" class="btn btn-secondary btn-sm"><i class="fa fa-arrow-up"
                                    aria-hidden="true"></i>
                                  Hiển thị</button>
                                <button type="button" class="btn btn-secondary btn-sm" placement="bottom"
                                  [ngbPopover]="popContent" [autoClose]="'outside'"><i class="fa fa-comment"
                                    aria-hidden="true"></i>
                                  Bình luận</button>
                                <button type="button" class="btn btn-secondary btn-sm"><i class="fa fa-trash"
                                    aria-hidden="true"></i>
                                  Xóa</button>
                                <ng-template #popContent>
                                  <form>
                                    <textarea class="form-control" rows="3"
                                      placeholder="Viết câu trả lời của bạn..."></textarea>
                                    <div class="row">
                                      <div class="mt-2 col-8">
                                        <div class="custom-control custom-control-alternative custom-radio mb-3 mr-3">
                                          <input name="reviews__comment-public" id="comment_public"
                                            class="custom-control-input" type="radio" checked>
                                          <label class="custom-control-label" for="comment_public">Hiển thị</label>
                                        </div>
                                        <div class="custom-control custom-control-alternative custom-radio mb-3 mr-3">
                                          <input name="reviews__comment-public" id="comment_hidden"
                                            class="custom-control-input" type="radio">
                                          <label class="custom-control-label" for="comment_hidden">Ẩn</label>
                                        </div>
                                      </div>
                                      <div class="col-4">
                                        <button type="button" class="btn btn-secondary btn-sm pull-right mt-2"><i
                                            class="fa fa-paper-plane mr-2" aria-hidden="true"></i>Gửi</button>
                                      </div>
                                    </div>
                                  </form>
                                </ng-template>
                              </div>
                            </div>
                            <div *ngIf="item.showDetails" class="row mt-3">
                              <div class="col-lg-8">
                                <span class="font-weight-bold">Thông tin chi tiết:</span>
                                <table class="table table-striped table-bordered mt-1">
                                  <tbody>
                                    <tr>
                                      <td>Tên khách hàng:</td>
                                      <td>Trung DOKE</td>
                                    </tr>
                                    <tr>
                                      <td>Email:</td>
                                      <td>trung.hoduc@doke.vn</td>
                                    </tr>
                                    <tr>
                                      <td>Số điện thoại:</td>
                                      <td>012345678</td>
                                    </tr>
                                    <tr>
                                      <td>Nguồn đánh giá:</td>
                                      <td>Website</td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                            </div>
                            <div *ngIf="item.showDetails" class="row mt-3">
                              <div class="col">
                                <span class="font-weight-bold">Bình luận:</span>
                                <div class="row mt-2">
                                  <div class="col-auto">
                                    <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                                      DK
                                    </div>
                                  </div>
                                  <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-0">Chủ cửa hàng</h5>
                                    <span *ngIf="!edit_comment" class="h5 font-weight-bold mb-0">Cám ơn bạn đã mua và
                                      đánh giá sản phẩm</span>
                                    <textarea *ngIf="edit_comment" class="form-control mb-2" rows="2"
                                      placeholder=""></textarea>
                                  </div>
                                  <div class="col-12">
                                    <ul class="list-inline">
                                      <li class="list-inline-item">06/07/19&nbsp;|&nbsp;</li>
                                      <li class="list-inline-item">
                                        <span *ngIf="!edit_comment" class="badge badge-success">Đang hiển thị</span>
                                        <div *ngIf="edit_comment" ngbDropdown class="d-inline-block">
                                          <button class="btn btn-sm btn-outline-default" ngbDropdownToggle>Hiển thị <i
                                              class="fa fa-caret-down" aria-hidden="true"></i></button>
                                          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                            <button ngbDropdownItem>Hiển thị</button>
                                            <button ngbDropdownItem>Ẩn</button>
                                          </div>
                                        </div>
                                        &nbsp;|&nbsp;
                                      </li>
                                      <li class="list-inline-item">
                                        <button *ngIf="!edit_comment" (click)="onEditComment(true)"
                                          class="btn btn-outline-secondary btn-sm"><i class="fa fa-edit"></i> Chỉnh
                                          sửa</button>
                                        <button *ngIf="edit_comment" (click)="onEditComment(false)"
                                          class="btn btn-outline-secondary btn-sm text-success"><i
                                            class="fa fa-check"></i> Lưu</button>
                                        &nbsp;|&nbsp;
                                      </li>
                                      <li class="list-inline-item"><button class="btn btn-outline-secondary btn-sm"><i
                                            class="fa fa-times" aria-hidden="true"></i> Xóa</button></li>
                                    </ul>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="row my-3">
                              <div class="col">
                                <a href="javascript:;" (click)="toggleShowDetails(i)">
                                  <i class="fa" [ngClass]="item.showDetails ? 'fa-minus-circle':'fa-plus-circle'"
                                    aria-hidden="true"></i>
                                  {{item.showDetails ? 'Thu gọn':'Chi tiết'}}
                                </a>
                              </div>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="card-footer py-4">
                    <nav aria-label="...">
                      <ul class="pagination justify-content-end mb-0">
                        <li class="page-item disabled">
                          <a class="page-link" href="javascript:void(0)" tabindex="-1">
                            <i class="fa fa-angle-left"></i>
                            <span class="sr-only">Trước</span>
                          </a>
                        </li>
                        <li class="page-item active">
                          <a class="page-link" href="javascript:void(0)">1</a>
                        </li>
                        <li class="page-item">
                          <a class="page-link" href="javascript:void(0)">2 <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
                        <li class="page-item">
                          <a class="page-link" href="javascript:void(0)">
                            <i class="fa fa-angle-right"></i>
                            <span class="sr-only">Sau</span>
                          </a>
                        </li>
                      </ul>
                    </nav>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>