ul li {
  list-style: none
}

select {
  border: 1px solid #cbd5dd;
  border-radius: 2px
}

.accordion>.card {
  overflow: inherit;
}

.card-header {
  padding: 0.4rem 1.5rem;
}

.input-group-text {
  border: 1px solid #ebedf2
}

.btn-sm,
.btn-group-sm>.btn {
  border-radius: 0
}

.reviews__list .table th,
.reviews__list .table td {
  padding: 5px
}

.table-responsive {
  overflow-x: inherit
}

.card .reviews__list .table td,
.card .reviews__list .table th {
  padding: 5px
}

.popover {
  max-width: 450px;
  min-width: 400px;
}