input {
  max-width: inherit !important
}
.daterange {
  border: 1px solid #ddd;
  border-radius: 5px !important;
  width: 100%;
  line-height: 30px;
  padding: 0px !important
}

.daterange .daterange-label {
  font-size: 13px
}

.daterange .n-btn.n-btn-pill {
  background: #fff !important;
  color: #ddd !important;
  border: 0;
  float: right
}

.calendar {
  max-width: 260px !important
}